*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.user-input {
    text-align: center;/*Keep the div plain text in the center horizontally*/
    /* color: green; */
    font-size: 1.5rem; 
        /* rem - 16px, em - 12px */
    }

input{
    padding: 8px 12px;
    border-radius: 10px;
}

.sbt-btn{
    display: flex;
    justify-content: center;
    margin: 5px 0 0 0;
    padding: 8px 15px;
}

.root{
    background-color: aquamarine;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{

    flex-direction: column;
    border: 1px solid red;
    height: 500px;
    width: 500px;
}